@import url(reset.css);
@import url(utilities.css);
@import url(header.css);
@import url(banner_bg.css);
@import url(footer.css);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
  background-color: #fff;
  font-size: 21px;
  height: 100%;
}
.out {
  display: flex;
  height: 100%;
}
.side-menu {
  width: 25%;
  height: auto;
  padding: 50px 20px;
  box-sizing: border-box;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  /* 	box-shadow: 5px 0px 10px hsla(240, 40%, 15%,.5); */
}
.side-menu .logo {
  margin-bottom: 20px;
}
.side-menu form {
  display: flex;
  margin: 0 10px 50px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255, 0.4);
}
.side-menu form input,
.side-menu form button {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
}
.side-menu form input {
  width: 90%;
  height: 45px;
  font-size: 21px;
}
.side-menu form button {
  width: 50px;
}
.side-menu form input:focus,
.side-menu form button:focus {
  outline: none;
}
nav a {
  display: block;
  padding: 10px;
  color: #5b5353;
  text-decoration: none;
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
}
nav a + a::before {
  content: "";
  position: absolute;
  border-top: 1px solid rgb(255, 255, 255, 0.4);
  left: 10px;
  right: 10px;
  top: 0;
}
/* --------------------作品集---------------------- */
.portfolio_main {
  padding-left: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.grid1 {
  margin-top: 10px;
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid1_1 {
  grid-column: 1/3;
  grid-row: 1/3;

  background-image: url(../img/left_news.jpg);
  background-position: center center;
  background-size: cover;
}
.grid1_2 {
  grid-column: 3/4;
  grid-row: 1/2;

  background-image: url(../img/other_product1.jpg);
  background-position: center center;
  background-size: cover;
}
.grid1_3 {
  grid-column: 3/4;
  grid-row: 2/3;

  background-image: url(../img/port_meeting_bg.jpg);
  background-position: center center;
  background-size: cover;
}

.grid2 {
  margin-top: 10px;
  display: grid;
  width: 100%;
  height: 500px;
}
.grid2 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid2_1 {
  grid-column: 2/4;
  grid-row: 1/3;

  background-image: url(../img/left_news.jpg);
  background-position: center center;
  background-size: cover;
}
.grid2_2 {
  grid-column: 1/2;
  grid-row: 1/2;

  background-image: url(../img/other_product1.jpg);
  background-position: center center;
  background-size: cover;
}
.grid2_3 {
  grid-column: 1/2;
  grid-row: 2/3;

  background-image: url(../img/port_meeting_bg.jpg);
  background-position: center center;
  background-size: cover;
}
